body{
	background: url(https://nolta2024.websitehoinghi.com/img/AdobeStock_355030521.jpg) no-repeat top left;background-size: cover;background-attachment: fixed;
}
.container{ overflow: hidden;padding: 20px 40px; }